// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.head{
    display: flex;
    justify-content: center;
    font-size: 4em; 
}


.users{
    display: block;
    justify-content: left;   
    list-style:  none;
    margin:20px;
}